<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Ui\Component\Form\Element | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/sami.css">
        <script src="../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="namespace" data-name="namespace:Magento_Ui_Component_Form_Element" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                <div class="namespace-breadcrumbs">
        <ol class="breadcrumb">
            <li><span class="label label-default">Namespace</span></li>
                                                        <li><a href="../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../Magento/Ui.html">Ui</a></li>
                                        <li><a href="../../../../Magento/Ui/Component.html">Component</a></li>
                                        <li><a href="../../../../Magento/Ui/Component/Form.html">Form</a></li>
                                        <li><a href="../../../../Magento/Ui/Component/Form/Element.html">Element</a></li>
    
        </ol>
    </div>
            <div id="page-content">
                
    <div class="page-header">
        <h1>Magento\Ui\Component\Form\Element</h1>
    </div>

            <h2>Namespaces</h2>
        <div class="namespace-list">
            <a href="../../../../Magento/Ui/Component/Form/Element/DataType.html">Magento\Ui\Component\Form\Element\DataType</a>        </div>
    
            <h2>Classes</h2>
        
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/AbstractElement.html"><abbr title="Magento\Ui\Component\Form\Element\AbstractElement">AbstractElement</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class AbstractElement
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/AbstractOptionsField.html"><abbr title="Magento\Ui\Component\Form\Element\AbstractOptionsField">AbstractOptionsField</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class AbstractOptionsField
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/ActionDelete.html"><abbr title="Magento\Ui\Component\Form\Element\ActionDelete">ActionDelete</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class ActionDelete
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/Checkbox.html"><abbr title="Magento\Ui\Component\Form\Element\Checkbox">Checkbox</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class Checkbox
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/CheckboxSet.html"><abbr title="Magento\Ui\Component\Form\Element\CheckboxSet">CheckboxSet</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class CheckboxSet
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/Hidden.html"><abbr title="Magento\Ui\Component\Form\Element\Hidden">Hidden</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class ActionDelete
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/Input.html"><abbr title="Magento\Ui\Component\Form\Element\Input">Input</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class Input
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/MultiSelect.html"><abbr title="Magento\Ui\Component\Form\Element\MultiSelect">MultiSelect</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class MultiSelect
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/Multiline.html"><abbr title="Magento\Ui\Component\Form\Element\Multiline">Multiline</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class Multiline
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/Radio.html"><abbr title="Magento\Ui\Component\Form\Element\Radio">Radio</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class Radio
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/RadioSet.html"><abbr title="Magento\Ui\Component\Form\Element\RadioSet">RadioSet</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class RadioSet
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/Range.html"><abbr title="Magento\Ui\Component\Form\Element\Range">Range</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class Range
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/Select.html"><abbr title="Magento\Ui\Component\Form\Element\Select">Select</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class Select
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/Textarea.html"><abbr title="Magento\Ui\Component\Form\Element\Textarea">Textarea</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class Textarea
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../../Magento/Ui/Component/Form/Element/Wysiwyg.html"><abbr title="Magento\Ui\Component\Form\Element\Wysiwyg">Wysiwyg</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class Input
                </div>
            </div>
            </div>
    
            <h2>Interfaces</h2>
        
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../../Magento/Ui/Component/Form/Element/ElementInterface.html"><abbr title="Magento\Ui\Component\Form\Element\ElementInterface">ElementInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    Interface ElementInterface
                </div>
            </div>
            </div>
    
    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
