<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\View\Asset | API</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/sami.css">
        <script src="../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../js/bootstrap.min.js"></script>
        <script src="../../../js/typeahead.min.js"></script>
        <script src="../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="namespace" data-name="namespace:Magento_Framework_View_Asset" data-root-path="../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                                            <li><a href="../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                <div class="namespace-breadcrumbs">
        <ol class="breadcrumb">
            <li><span class="label label-default">Namespace</span></li>
                                                        <li><a href="../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../Magento/Framework/View.html">View</a></li>
                                        <li><a href="../../../Magento/Framework/View/Asset.html">Asset</a></li>
    
        </ol>
    </div>
            <div id="page-content">
                
    <div class="page-header">
        <h1>Magento\Framework\View\Asset</h1>
    </div>

            <h2>Namespaces</h2>
        <div class="namespace-list">
            <a href="../../../Magento/Framework/View/Asset/Bundle.html">Magento\Framework\View\Asset\Bundle</a><a href="../../../Magento/Framework/View/Asset/File.html">Magento\Framework\View\Asset\File</a><a href="../../../Magento/Framework/View/Asset/MergeStrategy.html">Magento\Framework\View\Asset\MergeStrategy</a><a href="../../../Magento/Framework/View/Asset/NotationResolver.html">Magento\Framework\View\Asset\NotationResolver</a><a href="../../../Magento/Framework/View/Asset/PreProcessor.html">Magento\Framework\View\Asset\PreProcessor</a>        </div>
    
            <h2>Classes</h2>
        
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/Bundle.html"><abbr title="Magento\Framework\View\Asset\Bundle">Bundle</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Bundle model
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/Collection.html"><abbr title="Magento\Framework\View\Asset\Collection">Collection</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    List of page asset instances associated with unique identifiers
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/Config.html"><abbr title="Magento\Framework\View\Asset\Config">Config</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    View asset configuration interface
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/File.html"><abbr title="Magento\Framework\View\Asset\File">File</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    A locally available static view file asset that can be referred with a file path
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/FileFactory.html"><abbr title="Magento\Framework\View\Asset\FileFactory">FileFactory</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Factory class for \Magento\Framework\View\Asset\File
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/GroupedCollection.html"><abbr title="Magento\Framework\View\Asset\GroupedCollection">GroupedCollection</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    List of page assets that combines into groups ones having the same properties
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/LockerProcess.html"><abbr title="Magento\Framework\View\Asset\LockerProcess">LockerProcess</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class LockerProcess
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/MergeService.html"><abbr title="Magento\Framework\View\Asset\MergeService">MergeService</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Service model responsible for making a decision of whether to use the merged asset in place of original ones
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/Merged.html"><abbr title="Magento\Framework\View\Asset\Merged">Merged</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    \Iterator that aggregates one or more assets and provides a single public file with equivalent behavior
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/Minification.html"><abbr title="Magento\Framework\View\Asset\Minification">Minification</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/MinifierTest.html"><abbr title="Magento\Framework\View\Asset\MinifierTest">MinifierTest</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Tests for minifier
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/PropertyGroup.html"><abbr title="Magento\Framework\View\Asset\PropertyGroup">PropertyGroup</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Association of arbitrary properties with a list of page assets
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/PropertyGroupFactory.html"><abbr title="Magento\Framework\View\Asset\PropertyGroupFactory">PropertyGroupFactory</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Property group factory
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/Remote.html"><abbr title="Magento\Framework\View\Asset\Remote">Remote</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Page asset residing outside of the local file system
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/RemoteFactory.html"><abbr title="Magento\Framework\View\Asset\RemoteFactory">RemoteFactory</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Factory class for \Magento\Framework\View\Asset\Remote
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/Repository.html"><abbr title="Magento\Framework\View\Asset\Repository">Repository</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    A repository service for view assets
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/Source.html"><abbr title="Magento\Framework\View\Asset\Source">Source</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    A service for preprocessing content of assets
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/SourceFileGeneratorPool.html"><abbr title="Magento\Framework\View\Asset\SourceFileGeneratorPool">SourceFileGeneratorPool</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class SourceFileGeneratorFactory
                </div>
            </div>
            </div>
    
            <h2>Interfaces</h2>
        
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Asset/AssetInterface.html"><abbr title="Magento\Framework\View\Asset\AssetInterface">AssetInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    An abstraction for static view file (or resource) that may be embedded to a web page
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Asset/ConfigInterface.html"><abbr title="Magento\Framework\View\Asset\ConfigInterface">ConfigInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    View asset configuration interface
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Asset/ContentProcessorInterface.html"><abbr title="Magento\Framework\View\Asset\ContentProcessorInterface">ContentProcessorInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    Interface ContentProcessorInterface
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Asset/ContextInterface.html"><abbr title="Magento\Framework\View\Asset\ContextInterface">ContextInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    An abstraction for getting context path of an asset
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Asset/LocalInterface.html"><abbr title="Magento\Framework\View\Asset\LocalInterface">LocalInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    Interface of an asset with locally accessible source file
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Asset/LockerProcessInterface.html"><abbr title="Magento\Framework\View\Asset\LockerProcessInterface">LockerProcessInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    Interface LockerProcessInterface
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Asset/MergeStrategyInterface.html"><abbr title="Magento\Framework\View\Asset\MergeStrategyInterface">MergeStrategyInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    Interface for merging multiple assets into one
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Asset/MergeableInterface.html"><abbr title="Magento\Framework\View\Asset\MergeableInterface">MergeableInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    Interface of an asset that can be merged with other assets
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Asset/PreProcessorInterface.html"><abbr title="Magento\Framework\View\Asset\PreProcessorInterface">PreProcessorInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    An interface for "preprocessing" asset contents
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Asset/SourceFileGeneratorInterface.html"><abbr title="Magento\Framework\View\Asset\SourceFileGeneratorInterface">SourceFileGeneratorInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    Interface SourceFileGenerator
                </div>
            </div>
            </div>
    
            <h2>Exceptions</h2>
        
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Asset/ContentProcessorException.html"><abbr title="Magento\Framework\View\Asset\ContentProcessorException">ContentProcessorException</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class ContentProcessorException
                </div>
            </div>
            </div>
    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
