<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\View\DesignInterface | API</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/sami.css">
        <script src="../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../js/bootstrap.min.js"></script>
        <script src="../../../js/typeahead.min.js"></script>
        <script src="../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Framework_View_DesignInterface" data-root-path="../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                                            <li><a href="../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">interface</span></li>
                                                            <li><a href="../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../Magento/Framework/View.html">View</a></li>
    
                <li>DesignInterface</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            DesignInterface
                
        </h1>
    </div>

    <p>    interface
    <strong>DesignInterface</strong>
</p>

        
    

            <div class="description">
            <p>Design Interface</p>                    </div>
    
    
            <h2>Constants</h2>

            <table class="table table-condensed">
                    <tr>
                <td>DEFAULT_AREA</td>
                <td class="last">
                    <p><em>Default design area</em></p>
                    <p></p>
                </td>
            </tr>
                    <tr>
                <td>PUBLIC_VIEW_DIR</td>
                <td class="last">
                    <p><em></em></p>
                    <p></p>
                </td>
            </tr>
                    <tr>
                <td>PUBLIC_THEME_DIR</td>
                <td class="last">
                    <p><em></em></p>
                    <p></p>
                </td>
            </tr>
                    <tr>
                <td>XML_PATH_THEME_ID</td>
                <td class="last">
                    <p><em>Common node path to theme design configuration</em></p>
                    <p></p>
                </td>
            </tr>
            </table>

    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../Magento/Framework/View/DesignInterface.html"><abbr title="Magento\Framework\View\DesignInterface">DesignInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setArea">setArea</a>(string $area)
        
                                            <p>Set package area</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getArea">getArea</a>()
        
                                            <p>Retrieve package area</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../Magento/Framework/View/DesignInterface.html"><abbr title="Magento\Framework\View\DesignInterface">DesignInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setDesignTheme">setDesignTheme</a>(<a href="../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a>|int|string $theme, string|null $area = null)
        
                                            <p>Set theme path</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getConfigurationDesignTheme">getConfigurationDesignTheme</a>(string|null $area = null, array $params = array())
        
                                            <p>Get default theme which declared in configuration</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../Magento/Framework/View/DesignInterface.html"><abbr title="Magento\Framework\View\DesignInterface">DesignInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setDefaultDesignTheme">setDefaultDesignTheme</a>()
        
                                            <p>Set default design theme</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getDesignTheme">getDesignTheme</a>()
        
                                            <p>Design theme model getter</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getThemePath">getThemePath</a>(<a href="../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a> $theme)
        
                                            <p>Convert theme model into a theme path literal</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getLocale">getLocale</a>()
        
                                            <p>Get locale</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getDesignParams">getDesignParams</a>()
        
                                            <p>Get design settings for current request</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_setArea">
        <div class="location">at line         line 37</div>
        <code>                    <a href="../../../Magento/Framework/View/DesignInterface.html"><abbr title="Magento\Framework\View\DesignInterface">DesignInterface</abbr></a>
    <strong>setArea</strong>(string $area)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Set package area</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$area</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../Magento/Framework/View/DesignInterface.html"><abbr title="Magento\Framework\View\DesignInterface">DesignInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getArea">
        <div class="location">at line         line 44</div>
        <code>                    string
    <strong>getArea</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve package area</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setDesignTheme">
        <div class="location">at line         line 53</div>
        <code>                    <a href="../../../Magento/Framework/View/DesignInterface.html"><abbr title="Magento\Framework\View\DesignInterface">DesignInterface</abbr></a>
    <strong>setDesignTheme</strong>(<a href="../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a>|int|string $theme, string|null $area = null)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Set theme path</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a>|int|string</td>
                <td>$theme</td>
                <td></td>
            </tr>
                    <tr>
                <td>string|null</td>
                <td>$area</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../Magento/Framework/View/DesignInterface.html"><abbr title="Magento\Framework\View\DesignInterface">DesignInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getConfigurationDesignTheme">
        <div class="location">at line         line 62</div>
        <code>                    string
    <strong>getConfigurationDesignTheme</strong>(string|null $area = null, array $params = array())
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get default theme which declared in configuration</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string|null</td>
                <td>$area</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$params</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setDefaultDesignTheme">
        <div class="location">at line         line 69</div>
        <code>                    <a href="../../../Magento/Framework/View/DesignInterface.html"><abbr title="Magento\Framework\View\DesignInterface">DesignInterface</abbr></a>
    <strong>setDefaultDesignTheme</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Set default design theme</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../Magento/Framework/View/DesignInterface.html"><abbr title="Magento\Framework\View\DesignInterface">DesignInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getDesignTheme">
        <div class="location">at line         line 76</div>
        <code>                    <a href="../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a>
    <strong>getDesignTheme</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Design theme model getter</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getThemePath">
        <div class="location">at line         line 84</div>
        <code>                    string
    <strong>getThemePath</strong>(<a href="../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a> $theme)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Convert theme model into a theme path literal</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a></td>
                <td>$theme</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getLocale">
        <div class="location">at line         line 91</div>
        <code>                    string
    <strong>getLocale</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get locale</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getDesignParams">
        <div class="location">at line         line 98</div>
        <code>                    array
    <strong>getDesignParams</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get design settings for current request</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
