<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\View\Element | API</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/sami.css">
        <script src="../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../js/bootstrap.min.js"></script>
        <script src="../../../js/typeahead.min.js"></script>
        <script src="../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="namespace" data-name="namespace:Magento_Framework_View_Element" data-root-path="../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                                            <li><a href="../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                <div class="namespace-breadcrumbs">
        <ol class="breadcrumb">
            <li><span class="label label-default">Namespace</span></li>
                                                        <li><a href="../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../Magento/Framework/View.html">View</a></li>
                                        <li><a href="../../../Magento/Framework/View/Element.html">Element</a></li>
    
        </ol>
    </div>
            <div id="page-content">
                
    <div class="page-header">
        <h1>Magento\Framework\View\Element</h1>
    </div>

            <h2>Namespaces</h2>
        <div class="namespace-list">
            <a href="../../../Magento/Framework/View/Element/Html.html">Magento\Framework\View\Element\Html</a><a href="../../../Magento/Framework/View/Element/Js.html">Magento\Framework\View\Element\Js</a><a href="../../../Magento/Framework/View/Element/Message.html">Magento\Framework\View\Element\Message</a><a href="../../../Magento/Framework/View/Element/Template.html">Magento\Framework\View\Element\Template</a><a href="../../../Magento/Framework/View/Element/Text.html">Magento\Framework\View\Element\Text</a><a href="../../../Magento/Framework/View/Element/UiComponent.html">Magento\Framework\View\Element\UiComponent</a>        </div>
    
            <h2>Classes</h2>
        
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/AbstractBlock.html"><abbr title="Magento\Framework\View\Element\AbstractBlock">AbstractBlock</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Base Content Block class
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/AbstractBlockTest.html"><abbr title="Magento\Framework\View\Element\AbstractBlockTest">AbstractBlockTest</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/BlockFactory.html"><abbr title="Magento\Framework\View\Element\BlockFactory">BlockFactory</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class BlockFactory
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/Context.html"><abbr title="Magento\Framework\View\Element\Context">Context</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Abstract block context object
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/ExceptionHandlerBlock.html"><abbr title="Magento\Framework\View\Element\ExceptionHandlerBlock">ExceptionHandlerBlock</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class of a Exception Handler Block
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/ExceptionHandlerBlockFactory.html"><abbr title="Magento\Framework\View\Element\ExceptionHandlerBlockFactory">ExceptionHandlerBlockFactory</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class ExceptionHandlerBlockFactory
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/FormKey.html"><abbr title="Magento\Framework\View\Element\FormKey">FormKey</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/Messages.html"><abbr title="Magento\Framework\View\Element\Messages">Messages</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class Messages
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/Redirect.html"><abbr title="Magento\Framework\View\Element\Redirect">Redirect</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Customer Redirect Page
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/RendererList.html"><abbr title="Magento\Framework\View\Element\RendererList">RendererList</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/Template.html"><abbr title="Magento\Framework\View\Element\Template">Template</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Base html block
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/TemplateTest.html"><abbr title="Magento\Framework\View\Element\TemplateTest">TemplateTest</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/Text.html"><abbr title="Magento\Framework\View\Element\Text">Text</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class Text
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/TextTest.html"><abbr title="Magento\Framework\View\Element\TextTest">TextTest</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <a href="../../../Magento/Framework/View/Element/UiComponentFactory.html"><abbr title="Magento\Framework\View\Element\UiComponentFactory">UiComponentFactory</abbr></a>
                                            
                </div>
                <div class="col-md-6">
                    Class UiComponentFactory
                </div>
            </div>
            </div>
    
            <h2>Interfaces</h2>
        
    <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Element/BlockInterface.html"><abbr title="Magento\Framework\View\Element\BlockInterface">BlockInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    Magento Block
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Element/RendererInterface.html"><abbr title="Magento\Framework\View\Element\RendererInterface">RendererInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    Magento Block interface
                </div>
            </div>
                    <div class="row">
                <div class="col-md-6">
                                            <em><a href="../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a></em>
                                            
                </div>
                <div class="col-md-6">
                    Interface UiComponentInterface
                </div>
            </div>
            </div>
    
    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
