<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\View\LayoutTest | API</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/sami.css">
        <script src="../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../js/bootstrap.min.js"></script>
        <script src="../../../js/typeahead.min.js"></script>
        <script src="../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Framework_View_LayoutTest" data-root-path="../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                                            <li><a href="../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../Magento/Framework/View.html">View</a></li>
    
                <li>LayoutTest</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            LayoutTest
                
        </h1>
    </div>

    <p>    class
    <strong>LayoutTest</strong>        extends PHPUnit_Framework_TestCase
</p>

        
    

    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testConstructorStructure">testConstructorStructure</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testDestructor">testDestructor</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetUpdate">testGetUpdate</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGenerateXml">testGenerateXml</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGenerateGetAllBlocks">testGenerateGetAllBlocks</a>()
        
                                            <p>A smoke test for generating elements</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetElementProperty">testGetElementProperty</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsBlock">testIsBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetUnsetBlock">testSetUnsetBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testCreateBlock">testCreateBlock</a>($blockType, $blockName, array $blockData, $expectedName)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_createBlockDataProvider">createBlockDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testCreateBlockNotExists">testCreateBlockNotExists</a>($name)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_blockNotExistsDataProvider">blockNotExistsDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testAddBlock">testAddBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testAddContainer">testAddContainer</a>($htmlTag)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addContainerDataProvider">addContainerDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testAddContainerInvalidHtmlTag">testAddContainerInvalidHtmlTag</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildBlock">testGetChildBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../Magento/Framework/View/Layout.html"><abbr title="Magento\Framework\View\Layout">Layout</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetChild">testSetChild</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testReorderChild">testReorderChild</a>(<a href="../../../Magento/Framework/View/LayoutInterface.html"><abbr title="Magento\Framework\View\LayoutInterface">LayoutInterface</abbr></a> $layout)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildBlocks">testGetChildBlocks</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testAddBlockInvalidType">testAddBlockInvalidType</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsContainer">testIsContainer</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsManipulationAllowed">testIsManipulationAllowed</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testRenameElement">testRenameElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetBlock">testGetBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetParentName">testGetParentName</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetElementAlias">testGetElementAlias</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetOutput">testGetOutput</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetMessagesBlock">testGetMessagesBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetBlockSingleton">testGetBlockSingleton</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testUpdateContainerAttributes">testUpdateContainerAttributes</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsCacheable">testIsCacheable</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsNonCacheable">testIsNonCacheable</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_testConstructorStructure">
        <div class="location">at line         line 36</div>
        <code>                    
    <strong>testConstructorStructure</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testDestructor">
        <div class="location">at line         line 50</div>
        <code>                    
    <strong>testDestructor</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetUpdate">
        <div class="location">at line         line 58</div>
        <code>                    
    <strong>testGetUpdate</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGenerateXml">
        <div class="location">at line         line 63</div>
        <code>                    
    <strong>testGenerateXml</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGenerateGetAllBlocks">
        <div class="location">at line         line 98</div>
        <code>                    
    <strong>testGenerateGetAllBlocks</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>A smoke test for generating elements</p>                    <p>See sophisticated tests at \Magento\Framework\View\LayoutDirectivesTest</p>            </div>
                <div class="tags">
            
            
            
                            <h4>See also</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>\Magento\Framework\View\LayoutDirectivesTest</td>
                <td></td>
            </tr>
            </table>

                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetElementProperty">
        <div class="location">at line         line 123</div>
        <code>                    
    <strong>testGetElementProperty</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsBlock">
        <div class="location">at line         line 151</div>
        <code>                    
    <strong>testIsBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetUnsetBlock">
        <div class="location">at line         line 161</div>
        <code>                    
    <strong>testSetUnsetBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCreateBlock">
        <div class="location">at line         line 177</div>
        <code>                    
    <strong>testCreateBlock</strong>($blockType, $blockName, array $blockData, $expectedName)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$blockType</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$blockName</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$blockData</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$expectedName</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_createBlockDataProvider">
        <div class="location">at line         line 187</div>
        <code>                    
    <strong>createBlockDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCreateBlockNotExists">
        <div class="location">at line         line 209</div>
        <code>                    
    <strong>testCreateBlockNotExists</strong>($name)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$name</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_blockNotExistsDataProvider">
        <div class="location">at line         line 214</div>
        <code>                    
    <strong>blockNotExistsDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testAddBlock">
        <div class="location">at line         line 219</div>
        <code>                    
    <strong>testAddBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testAddContainer">
        <div class="location">at line         line 240</div>
        <code>                    
    <strong>testAddContainer</strong>($htmlTag)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$htmlTag</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addContainerDataProvider">
        <div class="location">at line         line 252</div>
        <code>                    
    <strong>addContainerDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testAddContainerInvalidHtmlTag">
        <div class="location">at line         line 272</div>
        <code>                    
    <strong>testAddContainerInvalidHtmlTag</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildBlock">
        <div class="location">at line         line 284</div>
        <code>                    
    <strong>testGetChildBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetChild">
        <div class="location">at line         line 296</div>
        <code>                    <a href="../../../Magento/Framework/View/Layout.html"><abbr title="Magento\Framework\View\Layout">Layout</abbr></a>
    <strong>testSetChild</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../Magento/Framework/View/Layout.html"><abbr title="Magento\Framework\View\Layout">Layout</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testReorderChild">
        <div class="location">at line         line 311</div>
        <code>                    
    <strong>testReorderChild</strong>(<a href="../../../Magento/Framework/View/LayoutInterface.html"><abbr title="Magento\Framework\View\LayoutInterface">LayoutInterface</abbr></a> $layout)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../Magento/Framework/View/LayoutInterface.html"><abbr title="Magento\Framework\View\LayoutInterface">LayoutInterface</abbr></a></td>
                <td>$layout</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildBlocks">
        <div class="location">at line         line 347</div>
        <code>                    
    <strong>testGetChildBlocks</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testAddBlockInvalidType">
        <div class="location">at line         line 359</div>
        <code>                    
    <strong>testAddBlockInvalidType</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsContainer">
        <div class="location">at line         line 367</div>
        <code>                    
    <strong>testIsContainer</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsManipulationAllowed">
        <div class="location">at line         line 378</div>
        <code>                    
    <strong>testIsManipulationAllowed</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testRenameElement">
        <div class="location">at line         line 393</div>
        <code>                    
    <strong>testRenameElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetBlock">
        <div class="location">at line         line 411</div>
        <code>                    
    <strong>testGetBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetParentName">
        <div class="location">at line         line 426</div>
        <code>                    
    <strong>testGetParentName</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetElementAlias">
        <div class="location">at line         line 434</div>
        <code>                    
    <strong>testGetElementAlias</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetOutput">
        <div class="location">at line         line 447</div>
        <code>                    
    <strong>testGetOutput</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetMessagesBlock">
        <div class="location">at line         line 464</div>
        <code>                    
    <strong>testGetMessagesBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetBlockSingleton">
        <div class="location">at line         line 469</div>
        <code>                    
    <strong>testGetBlockSingleton</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testUpdateContainerAttributes">
        <div class="location">at line         line 476</div>
        <code>                    
    <strong>testUpdateContainerAttributes</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsCacheable">
        <div class="location">at line         line 491</div>
        <code>                    
    <strong>testIsCacheable</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsNonCacheable">
        <div class="location">at line         line 500</div>
        <code>                    
    <strong>testIsNonCacheable</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
