<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\View\Test\Unit\Layout\ScheduledStructureTest | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../../css/sami.css">
        <script src="../../../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../../../js/bootstrap.min.js"></script>
        <script src="../../../../../../js/typeahead.min.js"></script>
        <script src="../../../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Framework_View_Test_Unit_Layout_ScheduledStructureTest" data-root-path="../../../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../../../../Magento/Framework/View.html">View</a></li>
                                        <li><a href="../../../../../../Magento/Framework/View/Test.html">Test</a></li>
                                        <li><a href="../../../../../../Magento/Framework/View/Test/Unit.html">Unit</a></li>
                                        <li><a href="../../../../../../Magento/Framework/View/Test/Unit/Layout.html">Layout</a></li>
    
                <li>ScheduledStructureTest</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            ScheduledStructureTest
                
        </h1>
    </div>

    <p>    class
    <strong>ScheduledStructureTest</strong>        extends PHPUnit_Framework_TestCase
</p>

        
    

            <div class="description">
            <p>Test class for \Magento\Framework\View\Layout\ScheduledStructure</p>                    </div>
    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetListToMove">testGetListToMove</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetListToRemove">testGetListToRemove</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetIfconfigList">testGetIfconfigList</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetElements">testGetElements</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetElement">testGetElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsElementsEmpty">testIsElementsEmpty</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetElement">testSetElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testHasElement">testHasElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testUnsetElement">testUnsetElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetElementToMove">testGetElementToMove</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getIfconfigElement">getIfconfigElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetElementToMove">testSetElementToMove</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testUnsetElementFromListToRemove">testUnsetElementFromListToRemove</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetElementToRemoveList">testSetElementToRemoveList</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testUnsetElementFromIfconfigList">testUnsetElementFromIfconfigList</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetElementToIfconfigList">testSetElementToIfconfigList</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetStructure">testGetStructure</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetStructureElement">testGetStructureElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsStructureEmpty">testIsStructureEmpty</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testHasStructureElement">testHasStructureElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetStructureElement">testSetStructureElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testUnsetStructureElement">testUnsetStructureElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetPaths">testGetPaths</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetPath">testGetPath</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testHasPath">testHasPath</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetPathElement">testSetPathElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testUnsetPathElement">testUnsetPathElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testFlushPaths">testFlushPaths</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testFlushScheduledStructure">testFlushScheduledStructure</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetElementToBrokenParentList">testSetElementToBrokenParentList</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetElementToSortList">testSetElementToSortList</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetElementToSortEmpty">testGetElementToSortEmpty</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetElementToSort">testGetElementToSort</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testUnsetElementToSort">testUnsetElementToSort</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsListToSortEmpty">testIsListToSortEmpty</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_testGetListToMove">
        <div class="location">at line         line 81</div>
        <code>                    void
    <strong>testGetListToMove</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetListToRemove">
        <div class="location">at line         line 93</div>
        <code>                    void
    <strong>testGetListToRemove</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetIfconfigList">
        <div class="location">at line         line 102</div>
        <code>                    
    <strong>testGetIfconfigList</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetElements">
        <div class="location">at line         line 111</div>
        <code>                    void
    <strong>testGetElements</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetElement">
        <div class="location">at line         line 119</div>
        <code>                    void
    <strong>testGetElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsElementsEmpty">
        <div class="location">at line         line 131</div>
        <code>                    void
    <strong>testIsElementsEmpty</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetElement">
        <div class="location">at line         line 141</div>
        <code>                    void
    <strong>testSetElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testHasElement">
        <div class="location">at line         line 159</div>
        <code>                    void
    <strong>testHasElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testUnsetElement">
        <div class="location">at line         line 168</div>
        <code>                    void
    <strong>testUnsetElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetElementToMove">
        <div class="location">at line         line 178</div>
        <code>                    void
    <strong>testGetElementToMove</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getIfconfigElement">
        <div class="location">at line         line 191</div>
        <code>                    void
    <strong>getIfconfigElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetElementToMove">
        <div class="location">at line         line 204</div>
        <code>                    void
    <strong>testSetElementToMove</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testUnsetElementFromListToRemove">
        <div class="location">at line         line 222</div>
        <code>                    void
    <strong>testUnsetElementFromListToRemove</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetElementToRemoveList">
        <div class="location">at line         line 232</div>
        <code>                    void
    <strong>testSetElementToRemoveList</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testUnsetElementFromIfconfigList">
        <div class="location">at line         line 242</div>
        <code>                    void
    <strong>testUnsetElementFromIfconfigList</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetElementToIfconfigList">
        <div class="location">at line         line 252</div>
        <code>                    void
    <strong>testSetElementToIfconfigList</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetStructure">
        <div class="location">at line         line 262</div>
        <code>                    void
    <strong>testGetStructure</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetStructureElement">
        <div class="location">at line         line 270</div>
        <code>                    void
    <strong>testGetStructureElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsStructureEmpty">
        <div class="location">at line         line 282</div>
        <code>                    void
    <strong>testIsStructureEmpty</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testHasStructureElement">
        <div class="location">at line         line 292</div>
        <code>                    void
    <strong>testHasStructureElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetStructureElement">
        <div class="location">at line         line 301</div>
        <code>                    void
    <strong>testSetStructureElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testUnsetStructureElement">
        <div class="location">at line         line 319</div>
        <code>                    void
    <strong>testUnsetStructureElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetPaths">
        <div class="location">at line         line 329</div>
        <code>                    void
    <strong>testGetPaths</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetPath">
        <div class="location">at line         line 337</div>
        <code>                    void
    <strong>testGetPath</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testHasPath">
        <div class="location">at line         line 347</div>
        <code>                    void
    <strong>testHasPath</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetPathElement">
        <div class="location">at line         line 356</div>
        <code>                    void
    <strong>testSetPathElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testUnsetPathElement">
        <div class="location">at line         line 374</div>
        <code>                    void
    <strong>testUnsetPathElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testFlushPaths">
        <div class="location">at line         line 384</div>
        <code>                    void
    <strong>testFlushPaths</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testFlushScheduledStructure">
        <div class="location">at line         line 394</div>
        <code>                    void
    <strong>testFlushScheduledStructure</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetElementToBrokenParentList">
        <div class="location">at line         line 410</div>
        <code>                    void
    <strong>testSetElementToBrokenParentList</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetElementToSortList">
        <div class="location">at line         line 427</div>
        <code>                    void
    <strong>testSetElementToSortList</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetElementToSortEmpty">
        <div class="location">at line         line 439</div>
        <code>                    void
    <strong>testGetElementToSortEmpty</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetElementToSort">
        <div class="location">at line         line 447</div>
        <code>                    void
    <strong>testGetElementToSort</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testUnsetElementToSort">
        <div class="location">at line         line 457</div>
        <code>                    void
    <strong>testUnsetElementToSort</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsListToSortEmpty">
        <div class="location">at line         line 469</div>
        <code>                    void
    <strong>testIsListToSortEmpty</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
