<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\View\Layout\ProcessorInterface | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/sami.css">
        <script src="../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Framework_View_Layout_ProcessorInterface" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">interface</span></li>
                                                            <li><a href="../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../../Magento/Framework/View.html">View</a></li>
                                        <li><a href="../../../../Magento/Framework/View/Layout.html">Layout</a></li>
    
                <li>ProcessorInterface</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            ProcessorInterface
                
        </h1>
    </div>

    <p>    interface
    <strong>ProcessorInterface</strong>
</p>

        
    

            <div class="description">
            <p>Interface ProcessorInterface</p>                    </div>
    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addUpdate">addUpdate</a>(string $update)
        
                                            <p>Add XML update instruction</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_asArray">asArray</a>()
        
                                            <p>Get all registered updates as array</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_asString">asString</a>()
        
                                            <p>Get all registered updates as string</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addHandle">addHandle</a>(string|string[] $handleName)
        
                                            <p>Add handle(s) to update</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_removeHandle">removeHandle</a>(string $handleName)
        
                                            <p>Remove handle from update</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getHandles">getHandles</a>()
        
                                            <p>Get handle names array</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addPageHandles">addPageHandles</a>(array $handlesToTry)
        
                                            <p>Add page handles</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getAllDesignAbstractions">getAllDesignAbstractions</a>()
        
                                            <p>Retrieve all design abstractions that exist in the system.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isPageLayoutDesignAbstraction">isPageLayoutDesignAbstraction</a>(array $abstraction)
        
                                            <p>Check page_layout design abstractions that exist in the system</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isCustomerDesignAbstraction">isCustomerDesignAbstraction</a>(array $abstraction)
        
                                            <p>Check custom design abstractions that exist in the system</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_load">load</a>(array|string $handles = array())
        
                                            <p>Load layout updates by handles</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a target="_blank" href="http://php.net/SimpleXMLElement">SimpleXMLElement</a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_asSimplexml">asSimplexml</a>()
        
                                            <p>Get layout updates as \Magento\Framework\View\Layout\Element object</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Magento/Framework/View/Layout/Element.html"><abbr title="Magento\Framework\View\Layout\Element">Element</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getFileLayoutUpdatesXml">getFileLayoutUpdatesXml</a>()
        
                                            <p>Retrieve already merged layout updates from files for specified area/theme/package/store</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getContainers">getContainers</a>()
        
                                            <p>Retrieve containers from the update handles that have been already loaded</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getCacheId">getCacheId</a>()
        
                                            <p>Return cache ID based current area/package/theme/store and handles</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_addUpdate">
        <div class="location">at line         line 19</div>
        <code>                    <a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a>
    <strong>addUpdate</strong>(string $update)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Add XML update instruction</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$update</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_asArray">
        <div class="location">at line         line 26</div>
        <code>                    array
    <strong>asArray</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get all registered updates as array</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_asString">
        <div class="location">at line         line 33</div>
        <code>                    string
    <strong>asString</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get all registered updates as string</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addHandle">
        <div class="location">at line         line 41</div>
        <code>                    <a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a>
    <strong>addHandle</strong>(string|string[] $handleName)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Add handle(s) to update</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string|string[]</td>
                <td>$handleName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_removeHandle">
        <div class="location">at line         line 49</div>
        <code>                    <a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a>
    <strong>removeHandle</strong>(string $handleName)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Remove handle from update</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$handleName</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getHandles">
        <div class="location">at line         line 56</div>
        <code>                    array
    <strong>getHandles</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get handle names array</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addPageHandles">
        <div class="location">at line         line 67</div>
        <code>                    bool
    <strong>addPageHandles</strong>(array $handlesToTry)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Add page handles</p>                    <p>Add the first existing (declared in layout updates) page handle along with all parents to the update.
Return whether any page handles have been added or not.</p>            </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$handlesToTry</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getAllDesignAbstractions">
        <div class="location">at line         line 74</div>
        <code>                    array
    <strong>getAllDesignAbstractions</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve all design abstractions that exist in the system.</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isPageLayoutDesignAbstraction">
        <div class="location">at line         line 82</div>
        <code>                    bool
    <strong>isPageLayoutDesignAbstraction</strong>(array $abstraction)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Check page_layout design abstractions that exist in the system</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$abstraction</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isCustomerDesignAbstraction">
        <div class="location">at line         line 90</div>
        <code>                    bool
    <strong>isCustomerDesignAbstraction</strong>(array $abstraction)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Check custom design abstractions that exist in the system</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$abstraction</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_load">
        <div class="location">at line         line 99</div>
        <code>                    <a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a>
    <strong>load</strong>(array|string $handles = array())
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Load layout updates by handles</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array|string</td>
                <td>$handles</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Magento/Framework/View/Layout/ProcessorInterface.html"><abbr title="Magento\Framework\View\Layout\ProcessorInterface">ProcessorInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
                            <h4>Exceptions</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../Magento/Framework/Exception/LocalizedException.html"><abbr title="Magento\Framework\Exception\LocalizedException">LocalizedException</abbr></a></td>
                <td></td>
            </tr>
            </table>

            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_asSimplexml">
        <div class="location">at line         line 106</div>
        <code>                    <a target="_blank" href="http://php.net/SimpleXMLElement">SimpleXMLElement</a>
    <strong>asSimplexml</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get layout updates as \Magento\Framework\View\Layout\Element object</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a target="_blank" href="http://php.net/SimpleXMLElement">SimpleXMLElement</a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFileLayoutUpdatesXml">
        <div class="location">at line         line 113</div>
        <code>                    <a href="../../../../Magento/Framework/View/Layout/Element.html"><abbr title="Magento\Framework\View\Layout\Element">Element</abbr></a>
    <strong>getFileLayoutUpdatesXml</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve already merged layout updates from files for specified area/theme/package/store</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Magento/Framework/View/Layout/Element.html"><abbr title="Magento\Framework\View\Layout\Element">Element</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getContainers">
        <div class="location">at line         line 126</div>
        <code>                    array
    <strong>getContainers</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve containers from the update handles that have been already loaded</p>                    <p>Result format:
array(
    'container_name' => 'Container Label',
    // ...
)</p>            </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getCacheId">
        <div class="location">at line         line 133</div>
        <code>                    string
    <strong>getCacheId</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return cache ID based current area/package/theme/store and handles</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
