<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\Filter\Template\Tokenizer\Variable | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../css/sami.css">
        <script src="../../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../../js/bootstrap.min.js"></script>
        <script src="../../../../../js/typeahead.min.js"></script>
        <script src="../../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Framework_Filter_Template_Tokenizer_Variable" data-root-path="../../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../../../Magento/Framework/Filter.html">Filter</a></li>
                                        <li><a href="../../../../../Magento/Framework/Filter/Template.html">Template</a></li>
                                        <li><a href="../../../../../Magento/Framework/Filter/Template/Tokenizer.html">Tokenizer</a></li>
    
                <li>Variable</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            Variable
                
        </h1>
    </div>

    <p>    class
    <strong>Variable</strong>        extends <a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a>
</p>

        
    

            <div class="description">
            <p>Template constructions variables tokenizer</p>                    </div>
    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    boolean
                </div>
                <div class="col-md-8 type">
                    <a href="#method_next">next</a>()
        
                                            <p>Move current index to next char.</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_next"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    boolean
                </div>
                <div class="col-md-8 type">
                    <a href="#method_prev">prev</a>()
        
                                            <p>Move current index to previous char.</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_prev"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8 type">
                    <a href="#method_back">back</a>(int $distance)
        
                                            <p>Move current index backwards.</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_back"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_char">char</a>()
        
                                            <p>Return current char</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_char"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setString">setString</a>(string $value)
        
                                            <p>Set string for tokenize</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_setString"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_reset">reset</a>()
        
                                            <p>Move char index to begin of string</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_reset"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    boolean
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isWhiteSpace">isWhiteSpace</a>()
        
                                            <p>Return true if current char is white-space</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_isWhiteSpace"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_tokenize">tokenize</a>()
        
                                            <p>Tokenize string and return getted variable stack path</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getString">getString</a>()
        
                                            <p>Get string value for method args</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool|string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getMemberKey">getMemberKey</a>()
        
                                            <p>Get array member key or return false if none present</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getArray">getArray</a>()
        
                                            <p>Get array value for method args</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    boolean
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isNumeric">isNumeric</a>()
        
                                            <p>Return true if current char is a number</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    boolean
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isQuote">isQuote</a>()
        
                                            <p>Return true if current char is quote or apostrophe</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isArray">isArray</a>()
        
                                            <p>Retrun true if current char is opening boundary for an array</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isStringBreak">isStringBreak</a>()
        
                                            <p>Return true if current char is closing boundary for string</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getMethodArgs">getMethodArgs</a>()
        
                                            <p>Return array of arguments for method</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    float
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getNumber">getNumber</a>()
        
                                            <p>Return number value for method args</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_next">
        <div class="location">in <a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_next"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a> at line         line 34</div>
        <code>                    boolean
    <strong>next</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Move current index to next char.</p>                    <p>If index out of bounds returns false</p>            </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>boolean</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_prev">
        <div class="location">in <a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_prev"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a> at line         line 51</div>
        <code>                    boolean
    <strong>prev</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Move current index to previous char.</p>                    <p>If index out of bounds returns false</p>            </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>boolean</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_back">
        <div class="location">in <a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_back"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a> at line         line 69</div>
        <code>                    bool
    <strong>back</strong>(int $distance)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Move current index backwards.</p>                    <p>If index out of bounds returns false</p>            </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>int</td>
                <td>$distance</td>
                <td>number of characters to backtrack</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_char">
        <div class="location">in <a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_char"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a> at line         line 84</div>
        <code>                    string
    <strong>char</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return current char</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setString">
        <div class="location">in <a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_setString"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a> at line         line 95</div>
        <code>                    void
    <strong>setString</strong>(string $value)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Set string for tokenize</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$value</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_reset">
        <div class="location">in <a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_reset"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a> at line         line 106</div>
        <code>                    void
    <strong>reset</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Move char index to begin of string</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isWhiteSpace">
        <div class="location">in <a href="../../../../../Magento/Framework/Filter/Template/Tokenizer/AbstractTokenizer.html#method_isWhiteSpace"><abbr title="Magento\Framework\Filter\Template\Tokenizer\AbstractTokenizer">AbstractTokenizer</abbr></a> at line         line 116</div>
        <code>                    boolean
    <strong>isWhiteSpace</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return true if current char is white-space</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>boolean</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_tokenize">
        <div class="location">at line         line 26</div>
        <code>                    array
    <strong>tokenize</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Tokenize string and return getted variable stack path</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getString">
        <div class="location">at line         line 71</div>
        <code>                    string
    <strong>getString</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get string value for method args</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getMemberKey">
        <div class="location">at line         line 107</div>
        <code>                    bool|string
    <strong>getMemberKey</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get array member key or return false if none present</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool|string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getArray">
        <div class="location">at line         line 161</div>
        <code>                    array
    <strong>getArray</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get array value for method args</p>                    <p>Parses arrays demarcated via open/closing brackets. Keys/value pairs are separated by a
single colon character. Multi-dimensional arrays are supported. Example input:</p>

<p>[key:value, "key2":"value2", [
    [123, foo],
]]</p>            </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isNumeric">
        <div class="location">at line         line 238</div>
        <code>                    boolean
    <strong>isNumeric</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return true if current char is a number</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>boolean</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isQuote">
        <div class="location">at line         line 248</div>
        <code>                    boolean
    <strong>isQuote</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return true if current char is quote or apostrophe</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>boolean</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isArray">
        <div class="location">at line         line 258</div>
        <code>                    bool
    <strong>isArray</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrun true if current char is opening boundary for an array</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isStringBreak">
        <div class="location">at line         line 268</div>
        <code>                    bool
    <strong>isStringBreak</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return true if current char is closing boundary for string</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getMethodArgs">
        <div class="location">at line         line 283</div>
        <code>                    array
    <strong>getMethodArgs</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return array of arguments for method</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getNumber">
        <div class="location">at line         line 306</div>
        <code>                    float
    <strong>getNumber</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return number value for method args</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>float</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
