<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\View\Element\AbstractBlockTest | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/sami.css">
        <script src="../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Framework_View_Element_AbstractBlockTest" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../../Magento/Framework/View.html">View</a></li>
                                        <li><a href="../../../../Magento/Framework/View/Element.html">Element</a></li>
    
                <li>AbstractBlockTest</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            AbstractBlockTest
                
        </h1>
    </div>

    <p>    class
    <strong>AbstractBlockTest</strong>        extends PHPUnit_Framework_TestCase
</p>

        
    

    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testCssWithWrongImage">testCssWithWrongImage</a>()
        
                                            <p>Checks, that not existing image in CSS not affected own publication</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetRequest">testGetRequest</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetParentBlock">testGetParentBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testAddChild">testAddChild</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetGetNameInLayout">testSetGetNameInLayout</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildNames">testGetChildNames</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetAttribute">testSetAttribute</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetGetUnsetChild">testSetGetUnsetChild</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testUnsetCallChild">testUnsetCallChild</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testUnsetChildren">testUnsetChildren</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildBlock">testGetChildBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildHtml">testGetChildHtml</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildChildHtml">testGetChildChildHtml</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetBlockHtml">testGetBlockHtml</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testInsertBlockWithoutName">testInsertBlockWithoutName</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testInsertBlockWithAlias">testInsertBlockWithAlias</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testInsertWithSibling">testInsertWithSibling</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testInsertWithoutCreateBlock">testInsertWithoutCreateBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testInsertContainer">testInsertContainer</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testAppend">testAppend</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testAddToParentGroup">testAddToParentGroup</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildData">testGetChildData</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetUrl">testGetUrl</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetViewFileUrl">testGetViewFileUrl</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetModuleName">testGetModuleName</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testEscapeHtml">testEscapeHtml</a>($data, $expected)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_escapeHtmlDataProvider">escapeHtmlDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testStripTags">testStripTags</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testEscapeUrl">testEscapeUrl</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testEscapeJsQuote">testEscapeJsQuote</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetCacheKeyInfo">testGetCacheKeyInfo</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetCacheKey">testGetCacheKey</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_testCssWithWrongImage">
        <div class="location">at line         line 50</div>
        <code>                    
    <strong>testCssWithWrongImage</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Checks, that not existing image in CSS not affected own publication</p>                                </div>
                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetRequest">
        <div class="location">at line         line 59</div>
        <code>                    
    <strong>testGetRequest</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetParentBlock">
        <div class="location">at line         line 67</div>
        <code>                    
    <strong>testGetParentBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testAddChild">
        <div class="location">at line         line 84</div>
        <code>                    
    <strong>testAddChild</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetGetNameInLayout">
        <div class="location">at line         line 102</div>
        <code>                    
    <strong>testSetGetNameInLayout</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildNames">
        <div class="location">at line         line 132</div>
        <code>                    
    <strong>testGetChildNames</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetAttribute">
        <div class="location">at line         line 156</div>
        <code>                    
    <strong>testSetAttribute</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetGetUnsetChild">
        <div class="location">at line         line 166</div>
        <code>                    
    <strong>testSetGetUnsetChild</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testUnsetCallChild">
        <div class="location">at line         line 200</div>
        <code>                    
    <strong>testUnsetCallChild</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testUnsetChildren">
        <div class="location">at line         line 216</div>
        <code>                    
    <strong>testUnsetChildren</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildBlock">
        <div class="location">at line         line 233</div>
        <code>                    
    <strong>testGetChildBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildHtml">
        <div class="location">at line         line 263</div>
        <code>                    
    <strong>testGetChildHtml</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildChildHtml">
        <div class="location">at line         line 293</div>
        <code>                    
    <strong>testGetChildChildHtml</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetBlockHtml">
        <div class="location">at line         line 320</div>
        <code>                    
    <strong>testGetBlockHtml</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testInsertBlockWithoutName">
        <div class="location">at line         line 347</div>
        <code>                    
    <strong>testInsertBlockWithoutName</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testInsertBlockWithAlias">
        <div class="location">at line         line 358</div>
        <code>                    
    <strong>testInsertBlockWithAlias</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testInsertWithSibling">
        <div class="location">at line         line 367</div>
        <code>                    
    <strong>testInsertWithSibling</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testInsertWithoutCreateBlock">
        <div class="location">at line         line 395</div>
        <code>                    
    <strong>testInsertWithoutCreateBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testInsertContainer">
        <div class="location">at line         line 404</div>
        <code>                    
    <strong>testInsertContainer</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testAppend">
        <div class="location">at line         line 420</div>
        <code>                    
    <strong>testAppend</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testAddToParentGroup">
        <div class="location">at line         line 435</div>
        <code>                    
    <strong>testAddToParentGroup</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildData">
        <div class="location">at line         line 450</div>
        <code>                    
    <strong>testGetChildData</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetUrl">
        <div class="location">at line         line 469</div>
        <code>                    
    <strong>testGetUrl</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetViewFileUrl">
        <div class="location">at line         line 477</div>
        <code>                    
    <strong>testGetViewFileUrl</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetModuleName">
        <div class="location">at line         line 483</div>
        <code>                    
    <strong>testGetModuleName</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testEscapeHtml">
        <div class="location">at line         line 492</div>
        <code>                    
    <strong>testEscapeHtml</strong>($data, $expected)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$data</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$expected</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_escapeHtmlDataProvider">
        <div class="location">at line         line 501</div>
        <code>                    array
    <strong>escapeHtmlDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testStripTags">
        <div class="location">at line         line 516</div>
        <code>                    
    <strong>testStripTags</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testEscapeUrl">
        <div class="location">at line         line 522</div>
        <code>                    
    <strong>testEscapeUrl</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testEscapeJsQuote">
        <div class="location">at line         line 528</div>
        <code>                    
    <strong>testEscapeJsQuote</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetCacheKeyInfo">
        <div class="location">at line         line 534</div>
        <code>                    
    <strong>testGetCacheKeyInfo</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetCacheKey">
        <div class="location">at line         line 546</div>
        <code>                    
    <strong>testGetCacheKey</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
