<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\View\Element\UiComponentInterface | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/sami.css">
        <script src="../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Framework_View_Element_UiComponentInterface" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">interface</span></li>
                                                            <li><a href="../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../../Magento/Framework/View.html">View</a></li>
                                        <li><a href="../../../../Magento/Framework/View/Element.html">Element</a></li>
    
                <li>UiComponentInterface</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            UiComponentInterface
                
        </h1>
    </div>

    <p>    interface
    <strong>UiComponentInterface</strong>        implements
        <a href="../../../../Magento/Framework/View/Element/BlockInterface.html"><abbr title="Magento\Framework\View\Element\BlockInterface">BlockInterface</abbr></a>
</p>

        
    

            <div class="description">
            <p>Interface UiComponentInterface</p>                    </div>
    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_toHtml">toHtml</a>()
        
                                            <p>Produce and return block's html output</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../Magento/Framework/View/Element/BlockInterface.html#method_toHtml"><abbr title="Magento\Framework\View\Element\BlockInterface">BlockInterface</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getName">getName</a>()
        
                                            <p>Get component instance name</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getComponentName">getComponentName</a>()
        
                                            <p>Get component name</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getConfiguration">getConfiguration</a>()
        
                                            <p>Get component configuration</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_render">render</a>()
        
                                            <p>Render component</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addComponent">addComponent</a>(string $name, <a href="../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a> $component)
        
                                            <p>Add component</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getComponent">getComponent</a>(string $name)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a>[]
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getChildComponents">getChildComponents</a>()
        
                                            <p>Get child components</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getTemplate">getTemplate</a>()
        
                                            <p>Get template</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Magento/Framework/View/Element/UiComponent/ContextInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\ContextInterface">ContextInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getContext">getContext</a>()
        
                                            <p>Get component context</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_renderChildComponent">renderChildComponent</a>(string $name)
        
                                            <p>Render child component</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setData">setData</a>(string|array $key, mixed $value = null)
        
                                            <p>Component data setter</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getData">getData</a>(string $key = &#039;&#039;, string|int $index = null)
        
                                            <p>Component data getter</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_prepare">prepare</a>()
        
                                            <p>Prepare component configuration</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_prepareDataSource">prepareDataSource</a>(array $dataSource)
        
                                            <p>Prepare Data Source</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getDataSourceData">getDataSourceData</a>()
        
                                            <p>Get Data Source data</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_toHtml">
        <div class="location">in <a href="../../../../Magento/Framework/View/Element/BlockInterface.html#method_toHtml"><abbr title="Magento\Framework\View\Element\BlockInterface">BlockInterface</abbr></a> at line         line 22</div>
        <code>                    string
    <strong>toHtml</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Produce and return block's html output</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getName">
        <div class="location">at line         line 20</div>
        <code>                    string
    <strong>getName</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get component instance name</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getComponentName">
        <div class="location">at line         line 27</div>
        <code>                    string
    <strong>getComponentName</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get component name</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getConfiguration">
        <div class="location">at line         line 34</div>
        <code>                    array
    <strong>getConfiguration</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get component configuration</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_render">
        <div class="location">at line         line 41</div>
        <code>                    string
    <strong>render</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Render component</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addComponent">
        <div class="location">at line         line 50</div>
        <code>                    void
    <strong>addComponent</strong>(string $name, <a href="../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a> $component)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Add component</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td><a href="../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a></td>
                <td>$component</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getComponent">
        <div class="location">at line         line 56</div>
        <code>                    <a href="../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a>
    <strong>getComponent</strong>(string $name)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getChildComponents">
        <div class="location">at line         line 63</div>
        <code>                    <a href="../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a>[]
    <strong>getChildComponents</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get child components</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a>[]</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTemplate">
        <div class="location">at line         line 70</div>
        <code>                    string
    <strong>getTemplate</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get template</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getContext">
        <div class="location">at line         line 77</div>
        <code>                    <a href="../../../../Magento/Framework/View/Element/UiComponent/ContextInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\ContextInterface">ContextInterface</abbr></a>
    <strong>getContext</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get component context</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Magento/Framework/View/Element/UiComponent/ContextInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\ContextInterface">ContextInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_renderChildComponent">
        <div class="location">at line         line 85</div>
        <code>                    string
    <strong>renderChildComponent</strong>(string $name)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Render child component</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setData">
        <div class="location">at line         line 94</div>
        <code>                    void
    <strong>setData</strong>(string|array $key, mixed $value = null)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Component data setter</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string|array</td>
                <td>$key</td>
                <td></td>
            </tr>
                    <tr>
                <td>mixed</td>
                <td>$value</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getData">
        <div class="location">at line         line 103</div>
        <code>                    mixed
    <strong>getData</strong>(string $key = &#039;&#039;, string|int $index = null)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Component data getter</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$key</td>
                <td></td>
            </tr>
                    <tr>
                <td>string|int</td>
                <td>$index</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_prepare">
        <div class="location">at line         line 110</div>
        <code>                    void
    <strong>prepare</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Prepare component configuration</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_prepareDataSource">
        <div class="location">at line         line 118</div>
        <code>                    array
    <strong>prepareDataSource</strong>(array $dataSource)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Prepare Data Source</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$dataSource</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getDataSourceData">
        <div class="location">at line         line 125</div>
        <code>                    array
    <strong>getDataSourceData</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get Data Source data</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
