<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\View\Design\ThemeInterface | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/sami.css">
        <script src="../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Framework_View_Design_ThemeInterface" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">interface</span></li>
                                                            <li><a href="../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../../Magento/Framework/View.html">View</a></li>
                                        <li><a href="../../../../Magento/Framework/View/Design.html">Design</a></li>
    
                <li>ThemeInterface</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            ThemeInterface
                
        </h1>
    </div>

    <p>    interface
    <strong>ThemeInterface</strong>
</p>

        
    

            <div class="description">
            <p>Interface ThemeInterface</p>                    </div>
    
    
            <h2>Constants</h2>

            <table class="table table-condensed">
                    <tr>
                <td>PATH_SEPARATOR</td>
                <td class="last">
                    <p><em>Separator between theme_path elements</em></p>
                    <p></p>
                </td>
            </tr>
                    <tr>
                <td>CODE_SEPARATOR</td>
                <td class="last">
                    <p><em>Separator between parts of full theme code (package and theme code)</em></p>
                    <p></p>
                </td>
            </tr>
                    <tr>
                <td>TYPE_PHYSICAL</td>
                <td class="last">
                    <p><em>Physical theme type</em></p>
                    <p></p>
                </td>
            </tr>
                    <tr>
                <td>TYPE_VIRTUAL</td>
                <td class="last">
                    <p><em>Virtual theme type</em></p>
                    <p></p>
                </td>
            </tr>
                    <tr>
                <td>TYPE_STAGING</td>
                <td class="last">
                    <p><em>Staging theme type</em></p>
                    <p></p>
                </td>
            </tr>
            </table>

    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getArea">getArea</a>()
        
                                            <p>Retrieve code of an area a theme belongs to</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getThemePath">getThemePath</a>()
        
                                            <p>Retrieve theme path unique within an area</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getFullPath">getFullPath</a>()
        
                                            <p>Retrieve theme path unique across areas</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a>|null
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getParentTheme">getParentTheme</a>()
        
                                            <p>Retrieve parent theme instance</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getCode">getCode</a>()
        
                                            <p>Get code of the theme</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    bool
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isPhysical">isPhysical</a>()
        
                                            <p>Check if theme is physical</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a>[]
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getInheritedThemes">getInheritedThemes</a>()
        
                                            <p>Return the full theme inheritance sequence, from the root theme till a specified one
Format: array([<root_theme>, .</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    int
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getId">getId</a>()
        
                                            <p>Get theme id</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_getArea">
        <div class="location">at line         line 43</div>
        <code>                    string
    <strong>getArea</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve code of an area a theme belongs to</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getThemePath">
        <div class="location">at line         line 50</div>
        <code>                    string
    <strong>getThemePath</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve theme path unique within an area</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFullPath">
        <div class="location">at line         line 57</div>
        <code>                    string
    <strong>getFullPath</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve theme path unique across areas</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getParentTheme">
        <div class="location">at line         line 64</div>
        <code>                    <a href="../../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a>|null
    <strong>getParentTheme</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve parent theme instance</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a>|null</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getCode">
        <div class="location">at line         line 71</div>
        <code>                    string
    <strong>getCode</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get code of the theme</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isPhysical">
        <div class="location">at line         line 78</div>
        <code>                    bool
    <strong>isPhysical</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Check if theme is physical</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>bool</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getInheritedThemes">
        <div class="location">at line         line 86</div>
        <code>                    <a href="../../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a>[]
    <strong>getInheritedThemes</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return the full theme inheritance sequence, from the root theme till a specified one
Format: array([<root_theme>, .</p>                    <p>.., <parent_theme>,] <current_theme>)</p>            </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../Magento/Framework/View/Design/ThemeInterface.html"><abbr title="Magento\Framework\View\Design\ThemeInterface">ThemeInterface</abbr></a>[]</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getId">
        <div class="location">at line         line 93</div>
        <code>                    int
    <strong>getId</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get theme id</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>int</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
