<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\View\Element\UiComponent\ContextInterface | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../css/sami.css">
        <script src="../../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../../js/bootstrap.min.js"></script>
        <script src="../../../../../js/typeahead.min.js"></script>
        <script src="../../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Framework_View_Element_UiComponent_ContextInterface" data-root-path="../../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">interface</span></li>
                                                            <li><a href="../../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../../../Magento/Framework/View.html">View</a></li>
                                        <li><a href="../../../../../Magento/Framework/View/Element.html">Element</a></li>
                                        <li><a href="../../../../../Magento/Framework/View/Element/UiComponent.html">UiComponent</a></li>
    
                <li>ContextInterface</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            ContextInterface
                
        </h1>
    </div>

    <p>    interface
    <strong>ContextInterface</strong>
</p>

        
    

            <div class="description">
            <p>Interface ContextInterface</p>                    </div>
    
    
            <h2>Constants</h2>

            <table class="table table-condensed">
                    <tr>
                <td>FILTER_VAR</td>
                <td class="last">
                    <p><em>Filter variable name</em></p>
                    <p></p>
                </td>
            </tr>
            </table>

    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addComponentDefinition">addComponentDefinition</a>(string $name, array $config)
        
                                            <p>Add components definition</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getComponentsDefinitions">getComponentsDefinitions</a>()
        
                                            <p>Get components definitions</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getNamespace">getNamespace</a>()
        
                                            <p>Getting root component name</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getAcceptType">getAcceptType</a>()
        
                                            <p>Getting accept type</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setDataProvider">setDataProvider</a>(<a href="../../../../../Magento/Framework/View/Element/UiComponent/DataProvider/DataProviderInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\DataProvider\DataProviderInterface">DataProviderInterface</abbr></a> $dataProvider)
        
                                            <p>Set data provider</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../../Magento/Framework/View/Element/UiComponent/DataProvider/DataProviderInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\DataProvider\DataProviderInterface">DataProviderInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getDataProvider">getDataProvider</a>()
        
                                            <p>Get data provider</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getDataSourceData">getDataSourceData</a>(<a href="../../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a> $component)
        
                                            <p>Get Data Source array</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getRequestParams">getRequestParams</a>()
        
                                            <p>Getting all request data</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getRequestParam">getRequestParam</a>(string $key, mixed|null $defaultValue = null)
        
                                            <p>Getting data according to the key</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getFiltersParams">getFiltersParams</a>()
        
                                            <p>Get filters params</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    mixed|null
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getFilterParam">getFilterParam</a>(string $key, null|string $defaultValue = null)
        
                                            <p>Get filter params according to the key</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../../Magento/Framework/View/LayoutInterface.html"><abbr title="Magento\Framework\View\LayoutInterface">LayoutInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getPageLayout">getPageLayout</a>()
        
                                            <p>Get root layout</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addButtons">addButtons</a>(array $buttons, <a href="../../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a> $component)
        
                                            <p>Add button in the actions toolbar</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_addHtmlBlocks">addHtmlBlocks</a>(array $htmlBlocks, <a href="../../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a> $component)
        
                                            <p>Add html block in the actions toolbar</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../../Magento/Framework/View/Element/UiComponent/ContentType/ContentTypeInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\ContentType\ContentTypeInterface">ContentTypeInterface</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getRenderEngine">getRenderEngine</a>()
        
                                            <p>Get render engine</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getUrl">getUrl</a>(string $route = &#039;&#039;, array $params = array())
        
                                            <p>Generate url by route and parameters</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../../Magento/Framework/View/Element/UiComponent/Processor.html"><abbr title="Magento\Framework\View\Element\UiComponent\Processor">Processor</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getProcessor">getProcessor</a>()
        
                                            <p>Get component processor</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    <a href="../../../../../Magento/Framework/View/Element/UiComponentFactory.html"><abbr title="Magento\Framework\View\Element\UiComponentFactory">UiComponentFactory</abbr></a>
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getUiComponentFactory">getUiComponentFactory</a>()
        
                                            <p>Get Ui Component Factory</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_addComponentDefinition">
        <div class="location">at line         line 31</div>
        <code>                    void
    <strong>addComponentDefinition</strong>(string $name, array $config)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Add components definition</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$name</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$config</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getComponentsDefinitions">
        <div class="location">at line         line 38</div>
        <code>                    array
    <strong>getComponentsDefinitions</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get components definitions</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getNamespace">
        <div class="location">at line         line 45</div>
        <code>                    string
    <strong>getNamespace</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Getting root component name</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getAcceptType">
        <div class="location">at line         line 52</div>
        <code>                    string
    <strong>getAcceptType</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Getting accept type</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setDataProvider">
        <div class="location">at line         line 60</div>
        <code>                    void
    <strong>setDataProvider</strong>(<a href="../../../../../Magento/Framework/View/Element/UiComponent/DataProvider/DataProviderInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\DataProvider\DataProviderInterface">DataProviderInterface</abbr></a> $dataProvider)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Set data provider</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../../Magento/Framework/View/Element/UiComponent/DataProvider/DataProviderInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\DataProvider\DataProviderInterface">DataProviderInterface</abbr></a></td>
                <td>$dataProvider</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getDataProvider">
        <div class="location">at line         line 67</div>
        <code>                    <a href="../../../../../Magento/Framework/View/Element/UiComponent/DataProvider/DataProviderInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\DataProvider\DataProviderInterface">DataProviderInterface</abbr></a>
    <strong>getDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get data provider</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../../Magento/Framework/View/Element/UiComponent/DataProvider/DataProviderInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\DataProvider\DataProviderInterface">DataProviderInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getDataSourceData">
        <div class="location">at line         line 75</div>
        <code>                    array
    <strong>getDataSourceData</strong>(<a href="../../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a> $component)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get Data Source array</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a></td>
                <td>$component</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getRequestParams">
        <div class="location">at line         line 82</div>
        <code>                    mixed
    <strong>getRequestParams</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Getting all request data</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getRequestParam">
        <div class="location">at line         line 91</div>
        <code>                    mixed
    <strong>getRequestParam</strong>(string $key, mixed|null $defaultValue = null)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Getting data according to the key</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$key</td>
                <td></td>
            </tr>
                    <tr>
                <td>mixed|null</td>
                <td>$defaultValue</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFiltersParams">
        <div class="location">at line         line 98</div>
        <code>                    array
    <strong>getFiltersParams</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get filters params</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getFilterParam">
        <div class="location">at line         line 107</div>
        <code>                    mixed|null
    <strong>getFilterParam</strong>(string $key, null|string $defaultValue = null)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get filter params according to the key</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$key</td>
                <td></td>
            </tr>
                    <tr>
                <td>null|string</td>
                <td>$defaultValue</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>mixed|null</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getPageLayout">
        <div class="location">at line         line 114</div>
        <code>                    <a href="../../../../../Magento/Framework/View/LayoutInterface.html"><abbr title="Magento\Framework\View\LayoutInterface">LayoutInterface</abbr></a>
    <strong>getPageLayout</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get root layout</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../../Magento/Framework/View/LayoutInterface.html"><abbr title="Magento\Framework\View\LayoutInterface">LayoutInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addButtons">
        <div class="location">at line         line 123</div>
        <code>                    void
    <strong>addButtons</strong>(array $buttons, <a href="../../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a> $component)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Add button in the actions toolbar</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$buttons</td>
                <td></td>
            </tr>
                    <tr>
                <td><a href="../../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a></td>
                <td>$component</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_addHtmlBlocks">
        <div class="location">at line         line 132</div>
        <code>                    void
    <strong>addHtmlBlocks</strong>(array $htmlBlocks, <a href="../../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a> $component)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Add html block in the actions toolbar</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$htmlBlocks</td>
                <td></td>
            </tr>
                    <tr>
                <td><a href="../../../../../Magento/Framework/View/Element/UiComponentInterface.html"><abbr title="Magento\Framework\View\Element\UiComponentInterface">UiComponentInterface</abbr></a></td>
                <td>$component</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getRenderEngine">
        <div class="location">at line         line 139</div>
        <code>                    <a href="../../../../../Magento/Framework/View/Element/UiComponent/ContentType/ContentTypeInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\ContentType\ContentTypeInterface">ContentTypeInterface</abbr></a>
    <strong>getRenderEngine</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get render engine</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../../Magento/Framework/View/Element/UiComponent/ContentType/ContentTypeInterface.html"><abbr title="Magento\Framework\View\Element\UiComponent\ContentType\ContentTypeInterface">ContentTypeInterface</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getUrl">
        <div class="location">at line         line 148</div>
        <code>                    string
    <strong>getUrl</strong>(string $route = &#039;&#039;, array $params = array())
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Generate url by route and parameters</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$route</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$params</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getProcessor">
        <div class="location">at line         line 155</div>
        <code>                    <a href="../../../../../Magento/Framework/View/Element/UiComponent/Processor.html"><abbr title="Magento\Framework\View\Element\UiComponent\Processor">Processor</abbr></a>
    <strong>getProcessor</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get component processor</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../../Magento/Framework/View/Element/UiComponent/Processor.html"><abbr title="Magento\Framework\View\Element\UiComponent\Processor">Processor</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getUiComponentFactory">
        <div class="location">at line         line 162</div>
        <code>                    <a href="../../../../../Magento/Framework/View/Element/UiComponentFactory.html"><abbr title="Magento\Framework\View\Element\UiComponentFactory">UiComponentFactory</abbr></a>
    <strong>getUiComponentFactory</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Get Ui Component Factory</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td><a href="../../../../../Magento/Framework/View/Element/UiComponentFactory.html"><abbr title="Magento\Framework\View\Element\UiComponentFactory">UiComponentFactory</abbr></a></td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
