<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Framework\View\Test\Unit\LayoutTest | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../css/sami.css">
        <script src="../../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../../js/bootstrap.min.js"></script>
        <script src="../../../../../js/typeahead.min.js"></script>
        <script src="../../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Framework_View_Test_Unit_LayoutTest" data-root-path="../../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../../Magento/Framework.html">Framework</a></li>
                                        <li><a href="../../../../../Magento/Framework/View.html">View</a></li>
                                        <li><a href="../../../../../Magento/Framework/View/Test.html">Test</a></li>
                                        <li><a href="../../../../../Magento/Framework/View/Test/Unit.html">Unit</a></li>
    
                <li>LayoutTest</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            LayoutTest
                
        </h1>
    </div>

    <p>    class
    <strong>LayoutTest</strong>        extends PHPUnit_Framework_TestCase
</p>

        
    

    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testCreateBlockSuccess">testCreateBlockSuccess</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetUpdate">testGetUpdate</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGenerateXml">testGenerateXml</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildBlock">testGetChildBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildNonExistBlock">testGetChildNonExistBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetChild">testSetChild</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testUnsetChild">testUnsetChild</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildNames">testGetChildNames</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildBlocks">testGetChildBlocks</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetChildName">testGetChildName</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testAddToParentGroup">testAddToParentGroup</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetGroupChildNames">testGetGroupChildNames</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testHasElement">testHasElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetElementProperty">testGetElementProperty</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsContainer">testIsContainer</a>(bool $hasElement, string $attribute, bool $result)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isContainerDataProvider">isContainerDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsManipulationAllowed">testIsManipulationAllowed</a>(bool $parentName, array $containerConfig, bool $result)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isManipulationAllowedDataProvider">isManipulationAllowedDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testSetGetBlock">testSetGetBlock</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testRenameElement">testRenameElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetParentName">testGetParentName</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetElementAlias">testGetElementAlias</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testAddRemoveOutputElement">testAddRemoveOutputElement</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsPrivate">testIsPrivate</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetBlockSingleton">testGetBlockSingleton</a>($type, $blockInstance, $isAbstract)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getBlockSingletonDataProvider">getBlockSingletonDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testAddGetRendererOptions">testAddGetRendererOptions</a>(array $rendererData, array $getData, bool $result)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getRendererOptionsDataProvider">getRendererOptionsDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsCacheable">testIsCacheable</a>(string $xmlString, bool $result)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_isCacheableDataProvider">isCacheableDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGenerateElementsWithoutCache">testGenerateElementsWithoutCache</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGenerateElementsWithCache">testGenerateElementsWithCache</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetXml">testGetXml</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testRenderElementDisplay">testRenderElementDisplay</a>(mixed $displayValue)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testRenderElementDoNotDisplay">testRenderElementDoNotDisplay</a>(mixed $displayValue)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_renderElementDoNotDisplayDataProvider">renderElementDoNotDisplayDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_renderElementDisplayDataProvider">renderElementDisplayDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_testCreateBlockSuccess">
        <div class="location">at line         line 175</div>
        <code>                    
    <strong>testCreateBlockSuccess</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetUpdate">
        <div class="location">at line         line 194</div>
        <code>                    
    <strong>testGetUpdate</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGenerateXml">
        <div class="location">at line         line 211</div>
        <code>                    
    <strong>testGenerateXml</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildBlock">
        <div class="location">at line         line 239</div>
        <code>                    
    <strong>testGetChildBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildNonExistBlock">
        <div class="location">at line         line 271</div>
        <code>                    
    <strong>testGetChildNonExistBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetChild">
        <div class="location">at line         line 280</div>
        <code>                    
    <strong>testSetChild</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testUnsetChild">
        <div class="location">at line         line 292</div>
        <code>                    
    <strong>testUnsetChild</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildNames">
        <div class="location">at line         line 303</div>
        <code>                    
    <strong>testGetChildNames</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildBlocks">
        <div class="location">at line         line 314</div>
        <code>                    
    <strong>testGetChildBlocks</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetChildName">
        <div class="location">at line         line 342</div>
        <code>                    
    <strong>testGetChildName</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testAddToParentGroup">
        <div class="location">at line         line 353</div>
        <code>                    
    <strong>testAddToParentGroup</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetGroupChildNames">
        <div class="location">at line         line 364</div>
        <code>                    
    <strong>testGetGroupChildNames</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testHasElement">
        <div class="location">at line         line 375</div>
        <code>                    
    <strong>testHasElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetElementProperty">
        <div class="location">at line         line 385</div>
        <code>                    
    <strong>testGetElementProperty</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsContainer">
        <div class="location">at line         line 403</div>
        <code>                    
    <strong>testIsContainer</strong>(bool $hasElement, string $attribute, bool $result)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>bool</td>
                <td>$hasElement</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$attribute</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$result</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isContainerDataProvider">
        <div class="location">at line         line 422</div>
        <code>                    array
    <strong>isContainerDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsManipulationAllowed">
        <div class="location">at line         line 438</div>
        <code>                    
    <strong>testIsManipulationAllowed</strong>(bool $parentName, array $containerConfig, bool $result)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>bool</td>
                <td>$parentName</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$containerConfig</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$result</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isManipulationAllowedDataProvider">
        <div class="location">at line         line 464</div>
        <code>                    array
    <strong>isManipulationAllowedDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testSetGetBlock">
        <div class="location">at line         line 478</div>
        <code>                    
    <strong>testSetGetBlock</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testRenameElement">
        <div class="location">at line         line 494</div>
        <code>                    
    <strong>testRenameElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetParentName">
        <div class="location">at line         line 511</div>
        <code>                    
    <strong>testGetParentName</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetElementAlias">
        <div class="location">at line         line 522</div>
        <code>                    
    <strong>testGetElementAlias</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testAddRemoveOutputElement">
        <div class="location">at line         line 538</div>
        <code>                    
    <strong>testAddRemoveOutputElement</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsPrivate">
        <div class="location">at line         line 544</div>
        <code>                    
    <strong>testIsPrivate</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetBlockSingleton">
        <div class="location">at line         line 556</div>
        <code>                    
    <strong>testGetBlockSingleton</strong>($type, $blockInstance, $isAbstract)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$type</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$blockInstance</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$isAbstract</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getBlockSingletonDataProvider">
        <div class="location">at line         line 575</div>
        <code>                    array
    <strong>getBlockSingletonDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testAddGetRendererOptions">
        <div class="location">at line         line 592</div>
        <code>                    
    <strong>testAddGetRendererOptions</strong>(array $rendererData, array $getData, bool $result)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$rendererData</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$getData</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$result</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getRendererOptionsDataProvider">
        <div class="location">at line         line 614</div>
        <code>                    array
    <strong>getRendererOptionsDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsCacheable">
        <div class="location">at line         line 673</div>
        <code>                    
    <strong>testIsCacheable</strong>(string $xmlString, bool $result)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$xmlString</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$result</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_isCacheableDataProvider">
        <div class="location">at line         line 683</div>
        <code>                    array
    <strong>isCacheableDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGenerateElementsWithoutCache">
        <div class="location">at line         line 699</div>
        <code>                    
    <strong>testGenerateElementsWithoutCache</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGenerateElementsWithCache">
        <div class="location">at line         line 768</div>
        <code>                    
    <strong>testGenerateElementsWithCache</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetXml">
        <div class="location">at line         line 829</div>
        <code>                    
    <strong>testGetXml</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testRenderElementDisplay">
        <div class="location">at line         line 839</div>
        <code>                    
    <strong>testRenderElementDisplay</strong>(mixed $displayValue)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$displayValue</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testRenderElementDoNotDisplay">
        <div class="location">at line         line 895</div>
        <code>                    
    <strong>testRenderElementDoNotDisplay</strong>(mixed $displayValue)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>mixed</td>
                <td>$displayValue</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_renderElementDoNotDisplayDataProvider">
        <div class="location">at line         line 911</div>
        <code>                    array
    <strong>renderElementDoNotDisplayDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_renderElementDisplayDataProvider">
        <div class="location">at line         line 923</div>
        <code>                    array
    <strong>renderElementDisplayDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
