<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Email\Test\Unit\Model\Template\FilterTest | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../../css/sami.css">
        <script src="../../../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../../../js/bootstrap.min.js"></script>
        <script src="../../../../../../js/typeahead.min.js"></script>
        <script src="../../../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Email_Test_Unit_Model_Template_FilterTest" data-root-path="../../../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../../../Magento/Email.html">Email</a></li>
                                        <li><a href="../../../../../../Magento/Email/Test.html">Test</a></li>
                                        <li><a href="../../../../../../Magento/Email/Test/Unit.html">Unit</a></li>
                                        <li><a href="../../../../../../Magento/Email/Test/Unit/Model.html">Model</a></li>
                                        <li><a href="../../../../../../Magento/Email/Test/Unit/Model/Template.html">Template</a></li>
    
                <li>FilterTest</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            FilterTest
                
        </h1>
    </div>

    <p>    class
    <strong>FilterTest</strong>        extends PHPUnit_Framework_TestCase
</p>

        
    

    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testTransDirective">testTransDirective</a>($value, $expected, array $variables = array())
        
                                            <p>Tests proper parsing of the {{trans .</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_transDirectiveDataProvider">transDirectiveDataProvider</a>()
        
                                            <p>Data provider for various possible {{trans .</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testApplyInlineCss">testApplyInlineCss</a>($html, $css, $expectedResults)
        
                                            <p>Test basic usages of applyInlineCss</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_applyInlineCssDataProvider">applyInlineCssDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testApplyInlineCssThrowsExceptionWhenDesignParamsNotSet">testApplyInlineCssThrowsExceptionWhenDesignParamsNotSet</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testAfterFilterCallbackGetsResetWhenExceptionTriggered">testAfterFilterCallbackGetsResetWhenExceptionTriggered</a>()
        
                                            <p>Ensure that after filter callbacks are reset after exception is thrown during filtering</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testConfigDirectiveAvailable">testConfigDirectiveAvailable</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testConfigDirectiveUnavailable">testConfigDirectiveUnavailable</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_testTransDirective">
        <div class="location">at line         line 174</div>
        <code>                    
    <strong>testTransDirective</strong>($value, $expected, array $variables = array())
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Tests proper parsing of the {{trans .</p>                    <p>..}} directive used in email templates</p>            </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$value</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$expected</td>
                <td></td>
            </tr>
                    <tr>
                <td>array</td>
                <td>$variables</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_transDirectiveDataProvider">
        <div class="location">at line         line 185</div>
        <code>                    array
    <strong>transDirectiveDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Data provider for various possible {{trans .</p>                    <p>..}} usages</p>            </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testApplyInlineCss">
        <div class="location">at line         line 252</div>
        <code>                    
    <strong>testApplyInlineCss</strong>($html, $css, $expectedResults)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Test basic usages of applyInlineCss</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$html</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$css</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$expectedResults</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_applyInlineCssDataProvider">
        <div class="location">at line         line 275</div>
        <code>                    array
    <strong>applyInlineCssDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testApplyInlineCssThrowsExceptionWhenDesignParamsNotSet">
        <div class="location">at line         line 302</div>
        <code>                    
    <strong>testApplyInlineCssThrowsExceptionWhenDesignParamsNotSet</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testAfterFilterCallbackGetsResetWhenExceptionTriggered">
        <div class="location">at line         line 310</div>
        <code>                    
    <strong>testAfterFilterCallbackGetsResetWhenExceptionTriggered</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Ensure that after filter callbacks are reset after exception is thrown during filtering</p>                                </div>
                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testConfigDirectiveAvailable">
        <div class="location">at line         line 344</div>
        <code>                    
    <strong>testConfigDirectiveAvailable</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testConfigDirectiveUnavailable">
        <div class="location">at line         line 365</div>
        <code>                    
    <strong>testConfigDirectiveUnavailable</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
