<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Ui\Test\Unit\Component\Form\Element\ActionDeleteTest | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../../../../css/sami.css">
        <script src="../../../../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../../../../js/bootstrap.min.js"></script>
        <script src="../../../../../../../js/typeahead.min.js"></script>
        <script src="../../../../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Ui_Test_Unit_Component_Form_Element_ActionDeleteTest" data-root-path="../../../../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../../../../Magento/Ui.html">Ui</a></li>
                                        <li><a href="../../../../../../../Magento/Ui/Test.html">Test</a></li>
                                        <li><a href="../../../../../../../Magento/Ui/Test/Unit.html">Unit</a></li>
                                        <li><a href="../../../../../../../Magento/Ui/Test/Unit/Component.html">Component</a></li>
                                        <li><a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form.html">Form</a></li>
                                        <li><a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element.html">Element</a></li>
    
                <li>ActionDeleteTest</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            ActionDeleteTest
                
        </h1>
    </div>

    <p>    class
    <strong>ActionDeleteTest</strong>        extends <a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element/AbstractElementTest.html"><abbr title="Magento\Ui\Test\Unit\Component\Form\Element\AbstractElementTest">AbstractElementTest</abbr></a>
</p>

        
    

            <div class="description">
            <p>Class ActionDeleteTest</p>                    </div>
    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetComponentName">testGetComponentName</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetHtmlId">testGetHtmlId</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element/AbstractElementTest.html#method_testGetHtmlId"><abbr title="Magento\Ui\Test\Unit\Component\Form\Element\AbstractElementTest">AbstractElementTest</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetValue">testGetValue</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element/AbstractElementTest.html#method_testGetValue"><abbr title="Magento\Ui\Test\Unit\Component\Form\Element\AbstractElementTest">AbstractElementTest</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetFormInputName">testGetFormInputName</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element/AbstractElementTest.html#method_testGetFormInputName"><abbr title="Magento\Ui\Test\Unit\Component\Form\Element\AbstractElementTest">AbstractElementTest</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testIsReadonly">testIsReadonly</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element/AbstractElementTest.html#method_testIsReadonly"><abbr title="Magento\Ui\Test\Unit\Component\Form\Element\AbstractElementTest">AbstractElementTest</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testGetCssClasses">testGetCssClasses</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element/AbstractElementTest.html#method_testGetCssClasses"><abbr title="Magento\Ui\Test\Unit\Component\Form\Element\AbstractElementTest">AbstractElementTest</abbr></a></small></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_testGetComponentName">
        <div class="location">at line         line 23</div>
        <code>                    
    <strong>testGetComponentName</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetHtmlId">
        <div class="location">in <a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element/AbstractElementTest.html#method_testGetHtmlId"><abbr title="Magento\Ui\Test\Unit\Component\Form\Element\AbstractElementTest">AbstractElementTest</abbr></a> at line         line 73</div>
        <code>                    
    <strong>testGetHtmlId</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetValue">
        <div class="location">in <a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element/AbstractElementTest.html#method_testGetValue"><abbr title="Magento\Ui\Test\Unit\Component\Form\Element\AbstractElementTest">AbstractElementTest</abbr></a> at line         line 78</div>
        <code>                    
    <strong>testGetValue</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetFormInputName">
        <div class="location">in <a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element/AbstractElementTest.html#method_testGetFormInputName"><abbr title="Magento\Ui\Test\Unit\Component\Form\Element\AbstractElementTest">AbstractElementTest</abbr></a> at line         line 83</div>
        <code>                    
    <strong>testGetFormInputName</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testIsReadonly">
        <div class="location">in <a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element/AbstractElementTest.html#method_testIsReadonly"><abbr title="Magento\Ui\Test\Unit\Component\Form\Element\AbstractElementTest">AbstractElementTest</abbr></a> at line         line 88</div>
        <code>                    
    <strong>testIsReadonly</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testGetCssClasses">
        <div class="location">in <a href="../../../../../../../Magento/Ui/Test/Unit/Component/Form/Element/AbstractElementTest.html#method_testGetCssClasses"><abbr title="Magento\Ui\Test\Unit\Component\Form\Element\AbstractElementTest">AbstractElementTest</abbr></a> at line         line 93</div>
        <code>                    
    <strong>testGetCssClasses</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
