<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Email\Model\Template\Config | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/sami.css">
        <script src="../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Email_Model_Template_Config" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../Magento/Email.html">Email</a></li>
                                        <li><a href="../../../../Magento/Email/Model.html">Model</a></li>
                                        <li><a href="../../../../Magento/Email/Model/Template.html">Template</a></li>
    
                <li>Config</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            Config
                
        </h1>
    </div>

    <p>    class
    <strong>Config</strong>        implements
        <a href="../../../../Magento/Framework/Mail/Template/ConfigInterface.html"><abbr title="Magento\Framework\Mail\Template\ConfigInterface">ConfigInterface</abbr></a>
</p>

        
    

    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method___construct">__construct</a>(<a href="../../../../Magento/Email/Model/Template/Config/Data.html"><abbr title="Magento\Email\Model\Template\Config\Data">Data</abbr></a> $dataStorage, <a href="../../../../Magento/Framework/Module/Dir/Reader.html"><abbr title="Magento\Framework\Module\Dir\Reader">Reader</abbr></a> $moduleReader, <a href="../../../../Magento/Framework/View/FileSystem.html"><abbr title="Magento\Framework\View\FileSystem">FileSystem</abbr></a> $viewFileSystem, <a href="../../../../Magento/Framework/View/Design/Theme/ThemePackageList.html"><abbr title="Magento\Framework\View\Design\Theme\ThemePackageList">ThemePackageList</abbr></a> $themePackages, <a href="../../../../Magento/Framework/Filesystem/Directory/ReadFactory.html"><abbr title="Magento\Framework\Filesystem\Directory\ReadFactory">ReadFactory</abbr></a> $readDirFactory)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string[]
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getAvailableTemplates">getAvailableTemplates</a>()
        
                                            <p>Return list of all email templates, both default module and theme-specific templates</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array[]
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getThemeTemplates">getThemeTemplates</a>(string $templateId)
        
                                            <p>Find all theme-based email templates for a given template ID</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_parseTemplateIdParts">parseTemplateIdParts</a>(string $templateId)
        
                                            <p>Parses a template ID and returns an array of templateId and theme</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getTemplateLabel">getTemplateLabel</a>(string $templateId)
        
                                            <p>Retrieve translated label of an email template</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getTemplateType">getTemplateType</a>(string $templateId)
        
                                            <p>Retrieve type of an email template</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getTemplateModule">getTemplateModule</a>(string $templateId)
        
                                            <p>Retrieve fully-qualified name of a module an email template belongs to</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getTemplateArea">getTemplateArea</a>(string $templateId)
        
                                            <p>Retrieve the area an email template belongs to</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getTemplateFilename">getTemplateFilename</a>(string $templateId, array|null $designParams = array())
        
                                            <p>Retrieve full path to an email template file</p>                </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location">at line         line 52</div>
        <code>                    
    <strong>__construct</strong>(<a href="../../../../Magento/Email/Model/Template/Config/Data.html"><abbr title="Magento\Email\Model\Template\Config\Data">Data</abbr></a> $dataStorage, <a href="../../../../Magento/Framework/Module/Dir/Reader.html"><abbr title="Magento\Framework\Module\Dir\Reader">Reader</abbr></a> $moduleReader, <a href="../../../../Magento/Framework/View/FileSystem.html"><abbr title="Magento\Framework\View\FileSystem">FileSystem</abbr></a> $viewFileSystem, <a href="../../../../Magento/Framework/View/Design/Theme/ThemePackageList.html"><abbr title="Magento\Framework\View\Design\Theme\ThemePackageList">ThemePackageList</abbr></a> $themePackages, <a href="../../../../Magento/Framework/Filesystem/Directory/ReadFactory.html"><abbr title="Magento\Framework\Filesystem\Directory\ReadFactory">ReadFactory</abbr></a> $readDirFactory)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><a href="../../../../Magento/Email/Model/Template/Config/Data.html"><abbr title="Magento\Email\Model\Template\Config\Data">Data</abbr></a></td>
                <td>$dataStorage</td>
                <td></td>
            </tr>
                    <tr>
                <td><a href="../../../../Magento/Framework/Module/Dir/Reader.html"><abbr title="Magento\Framework\Module\Dir\Reader">Reader</abbr></a></td>
                <td>$moduleReader</td>
                <td></td>
            </tr>
                    <tr>
                <td><a href="../../../../Magento/Framework/View/FileSystem.html"><abbr title="Magento\Framework\View\FileSystem">FileSystem</abbr></a></td>
                <td>$viewFileSystem</td>
                <td></td>
            </tr>
                    <tr>
                <td><a href="../../../../Magento/Framework/View/Design/Theme/ThemePackageList.html"><abbr title="Magento\Framework\View\Design\Theme\ThemePackageList">ThemePackageList</abbr></a></td>
                <td>$themePackages</td>
                <td></td>
            </tr>
                    <tr>
                <td><a href="../../../../Magento/Framework/Filesystem/Directory/ReadFactory.html"><abbr title="Magento\Framework\Filesystem\Directory\ReadFactory">ReadFactory</abbr></a></td>
                <td>$readDirFactory</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getAvailableTemplates">
        <div class="location">at line         line 71</div>
        <code>                    string[]
    <strong>getAvailableTemplates</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Return list of all email templates, both default module and theme-specific templates</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string[]</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getThemeTemplates">
        <div class="location">at line         line 92</div>
        <code>                    array[]
    <strong>getThemeTemplates</strong>(string $templateId)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Find all theme-based email templates for a given template ID</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateId</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array[]</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_parseTemplateIdParts">
        <div class="location">at line         line 133</div>
        <code>                    array
    <strong>parseTemplateIdParts</strong>(string $templateId)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Parses a template ID and returns an array of templateId and theme</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateId</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td>an array of array('templateId' => '...', 'theme' => '...')</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTemplateLabel">
        <div class="location">at line         line 153</div>
        <code>                    string
    <strong>getTemplateLabel</strong>(string $templateId)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve translated label of an email template</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateId</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTemplateType">
        <div class="location">at line         line 164</div>
        <code>                    string
    <strong>getTemplateType</strong>(string $templateId)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve type of an email template</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateId</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTemplateModule">
        <div class="location">at line         line 175</div>
        <code>                    string
    <strong>getTemplateModule</strong>(string $templateId)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve fully-qualified name of a module an email template belongs to</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateId</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTemplateArea">
        <div class="location">at line         line 186</div>
        <code>                    string
    <strong>getTemplateArea</strong>(string $templateId)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve the area an email template belongs to</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateId</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getTemplateFilename">
        <div class="location">at line         line 198</div>
        <code>                    string
    <strong>getTemplateFilename</strong>(string $templateId, array|null $designParams = array())
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Retrieve full path to an email template file</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateId</td>
                <td></td>
            </tr>
                    <tr>
                <td>array|null</td>
                <td>$designParams</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
