<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Magento\Email\Model\Template\FilterTest | API</title>

            <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../../css/sami.css">
        <script src="../../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../../js/bootstrap.min.js"></script>
        <script src="../../../../js/typeahead.min.js"></script>
        <script src="../../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Magento_Email_Model_Template_FilterTest" data-root-path="../../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                <form id="search-form" action="../../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../../index.html">API</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../../classes.html">Classes</a></li>
                                            <li><a href="../../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../../traits.html">Traits</a></li>
                    <li><a href="../../../../doc-index.html">Index</a></li>
                    <li><a href="../../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../../Magento.html">Magento</a></li>
                                        <li><a href="../../../../Magento/Email.html">Email</a></li>
                                        <li><a href="../../../../Magento/Email/Model.html">Model</a></li>
                                        <li><a href="../../../../Magento/Email/Model/Template.html">Template</a></li>
    
                <li>FilterTest</li>
            </ol>
        </div>
                <div id="page-content">
                
    <div class="page-header">
        <h1>
            FilterTest
                
        </h1>
    </div>

    <p>    class
    <strong>FilterTest</strong>        extends PHPUnit_Framework_TestCase
</p>

        
    

    
    
    
    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testViewDirective">testViewDirective</a>()
        
                                            <p>Isolation level has been raised in order to flush themes configuration in-memory cache</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testBlockDirective">testBlockDirective</a>()
        
                                            <p>Isolation level has been raised in order to flush themes configuration in-memory cache</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testStoreDirective">testStoreDirective</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testLayoutDirective">testLayoutDirective</a>(string $area, string $directiveParams, string $expectedOutput)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_layoutDirectiveDataProvider">layoutDirectiveDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testTransDirective">testTransDirective</a>($directive, $translations, $expectedResult)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_transDirectiveDataProvider">transDirectiveDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testCssDirective">testCssDirective</a>(int $templateType, string $directiveParams, string $expectedOutput)
        
                                            <p>Ensures that the css directive will successfully compile and output contents of a LESS file,
as well as supporting loading files from a theme fallback structure.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_cssDirectiveDataProvider">cssDirectiveDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testInlinecssDirective">testInlinecssDirective</a>(string $templateText, string $expectedOutput, bool $productionMode = false, bool $plainTemplateMode = false, bool $isChildTemplateMode = false)
        
                                            <p>Ensures that the inlinecss directive will successfully load and inline CSS to HTML markup,
as well as supporting loading files from a theme fallback structure.</p>                </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_inlinecssDirectiveDataProvider">inlinecssDirectiveDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_testInlinecssDirectiveThrowsExceptionWhenMissingParameter">testInlinecssDirectiveThrowsExceptionWhenMissingParameter</a>(string $templateText)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    array
                </div>
                <div class="col-md-8 type">
                    <a href="#method_inlinecssDirectiveThrowsExceptionWhenMissingParameterDataProvider">inlinecssDirectiveThrowsExceptionWhenMissingParameterDataProvider</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method_testViewDirective">
        <div class="location">at line         line 43</div>
        <code>                    
    <strong>testViewDirective</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Isolation level has been raised in order to flush themes configuration in-memory cache</p>                                </div>
                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testBlockDirective">
        <div class="location">at line         line 56</div>
        <code>                    
    <strong>testBlockDirective</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Isolation level has been raised in order to flush themes configuration in-memory cache</p>                                </div>
                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testStoreDirective">
        <div class="location">at line         line 72</div>
        <code>                    
    <strong>testStoreDirective</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testLayoutDirective">
        <div class="location">at line         line 103</div>
        <code>                    
    <strong>testLayoutDirective</strong>(string $area, string $directiveParams, string $expectedOutput)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$area</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$directiveParams</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$expectedOutput</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_layoutDirectiveDataProvider">
        <div class="location">at line         line 125</div>
        <code>                    array
    <strong>layoutDirectiveDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testTransDirective">
        <div class="location">at line         line 159</div>
        <code>                    
    <strong>testTransDirective</strong>($directive, $translations, $expectedResult)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$directive</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$translations</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$expectedResult</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_transDirectiveDataProvider">
        <div class="location">at line         line 184</div>
        <code>                    array
    <strong>transDirectiveDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testCssDirective">
        <div class="location">at line         line 214</div>
        <code>                    
    <strong>testCssDirective</strong>(int $templateType, string $directiveParams, string $expectedOutput)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Ensures that the css directive will successfully compile and output contents of a LESS file,
as well as supporting loading files from a theme fallback structure.</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>int</td>
                <td>$templateType</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$directiveParams</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$expectedOutput</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_cssDirectiveDataProvider">
        <div class="location">at line         line 237</div>
        <code>                    array
    <strong>cssDirectiveDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testInlinecssDirective">
        <div class="location">at line         line 294</div>
        <code>                    
    <strong>testInlinecssDirective</strong>(string $templateText, string $expectedOutput, bool $productionMode = false, bool $plainTemplateMode = false, bool $isChildTemplateMode = false)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Ensures that the inlinecss directive will successfully load and inline CSS to HTML markup,
as well as supporting loading files from a theme fallback structure.</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateText</td>
                <td></td>
            </tr>
                    <tr>
                <td>string</td>
                <td>$expectedOutput</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$productionMode</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$plainTemplateMode</td>
                <td></td>
            </tr>
                    <tr>
                <td>bool</td>
                <td>$isChildTemplateMode</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_inlinecssDirectiveDataProvider">
        <div class="location">at line         line 320</div>
        <code>                    array
    <strong>inlinecssDirectiveDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_testInlinecssDirectiveThrowsExceptionWhenMissingParameter">
        <div class="location">at line         line 374</div>
        <code>                    
    <strong>testInlinecssDirectiveThrowsExceptionWhenMissingParameter</strong>(string $templateText)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$templateText</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_inlinecssDirectiveThrowsExceptionWhenMissingParameterDataProvider">
        <div class="location">at line         line 389</div>
        <code>                    array
    <strong>inlinecssDirectiveThrowsExceptionWhenMissingParameterDataProvider</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>array</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
            </div>

    
            </div>
                <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>

        </div>
    </div>
    </body>

</html>
